<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/wwwroot/css/mystyle.css" />

</head>

<body>
    <div class='content'>

        <div class="container">
            <div class="header">
                <div class="header__section">
                    <div class="header__item headerLogo">StudentsBase</div>
                    <div class="header__item headerButton"><a href="#">Все студенты</a></div>
                    <div class="header__item headerButton"><a href="#">Отличники</a></div>
                    <div class="header__item headerButton"><a href="#">Неуспевающие</a></div>
                    <div class="header__item headerButton"><a href="#">Группы </a></div>
                </div>
                <div class="header__section">
                    <div class="header__item headerButton"><a href="#">Войти </a></div>
                </div>
            </div>
        </div>

        <div class="container">
            <main role="main" class="col-12 pb-3">

            </main>
        </div>
        <div class="footer">
            <div class="footer__section">
                <div class="footer__item"></div>
                <div class="footer__item"></div>
                <div class="footer__item"></div>
            </div>
            <div class="footer__section">

            </div>
        </div>


        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>

</html>