<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/wwwroot/css/elseStyle.css">
	<title>Document</title>
</head>

<body>
	<div class="header">
		<img class="header__logo" src="/wwwroot/img/graduation-hat.png" alt="logo">
		<nav>
			<ul class="nav__links">
				<li><a href="#">Все студенты</a></li>
				<li><a href="#">Отличники</a></li>
				<li><a href="#">Неуспевающие</a></li>
				<li><a href="#">Группы</a></li>
			</ul>
		</nav>
		<a class="button" href="#"><button>Войти</button></a>
	</div>
</body>

</html>